@model AreaPubblica.Models.RegisterViewModel


<h2>Registrazione Studente</h2>
<div class="container">
	

	<form asp-action="Register" method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group">
			<label asp-for="Nome"></label>
			<input asp-for="Nome" class="form-control" />
			<span asp-validation-for="Nome" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Cognome"></label>
			<input asp-for="Cognome" class="form-control" />
			<span asp-validation-for="Cognome" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" type="password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="DataNascita">Data di Nascita</label>
			<input asp-for="DataNascita" class="form-control" type="date" />
			<span asp-validation-for="DataNascita" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Indirizzo"></label>
			<input asp-for="Indirizzo" class="form-control" />
			<span asp-validation-for="Indirizzo" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="CAP"></label>
			<input asp-for="CAP" class="form-control" />
			<span asp-validation-for="CAP" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Citta"></label>
			<input asp-for="Citta" class="form-control" />
			<span asp-validation-for="Citta" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Provincia"></label>
			<input asp-for="Provincia" class="form-control" />
			<span asp-validation-for="Provincia" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="ImmagineFile"></label>
			<input asp-for="ImmagineFile" class="form-control" type="file" />
			<span asp-validation-for="ImmagineFile" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Registrati</button>
	</form>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</div>