<main class="container my-5">
	<div class="row">
		<div class="col-12">
			<h1 class="mb-4">Offerta Formativa</h1>
			<p>
				Benvenuto nella sezione Offerta Formativa,
				il punto di riferimento per conoscere tutti i dettagli sui percorsi di studio disponibili.
				Qui troverai informazioni approfondite sui Corsi di Laurea, con una panoramica delle discipline offerte e degli obiettivi formativi.
			</p>
			<p>
				Esplora il Piano di Studi per scoprire la struttura dei corsi e il loro sviluppo nel tempo,
				insieme ai contenuti di ogni Programma didattico.
				Inoltre, consulta l'elenco di Esami e Docenti,
				per avere una visione chiara delle prove da sostenere e dei professori che ti accompagneranno nel tuo percorso accademico.
			</p>
		</div>

		<!-- Card 1 - bordo nero -->
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card border-dark h-100">
				<div class="card-body d-flex align-items-center justify-content-center">
					<a class="stretched-link text-decoration-none text-dark fw-bold text-center" asp-area="" asp-controller="OffertaFormativa" asp-action="ListaCorsi">
						Corsi di Laurea
					</a>
				</div>
			</div>
		</div>
		<!-- Card 3 - bordo #12304F -->
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card h-100" style="border: 2px solid #12304F;">
				<div class="card-body d-flex align-items-center justify-content-center">
					<span class="fw-bold text-center">Programma</span>
				</div>
			</div>
		</div>

		<!-- Card 2 - bordo nero -->
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card border-dark h-100">
				<div class="card-body d-flex align-items-center justify-content-center">
					<span class="fw-bold text-center">Piano di Studi</span>
				</div>
			</div>
		</div>


		<!-- Card 4 - bordo #12304F -->
		<div class="col-md-6 col-lg-3 mb-4">
			<div class="card h-100" style="border: 2px solid #12304F;">
				<div class="card-body d-flex align-items-center justify-content-center">
					<span class="fw-bold text-center">Esami e Docenti</span>
				</div>
			</div>
		</div>
	</div>
</main>