@model AreaDocente.Models.Entities.MVCLezioni

<div class="container my-5">
    <h1>Modifica Lezione</h1>

    @if (Model is null)
    {
        <div class="alert alert-warning text-center" role="alert">
            Nessun record trovato con questo ID.
        </div>
    }
    else
    {
        <div class="card p-4 shadow-sm">
            <form method="post">

                <div class="mt-3 d-none">
                    <label class="form-label">K</label>
                    <input type="text" class="form-control" asp-for="K_Lezione" readonly />
                </div>

                <div class="mt-3">
                    <label class="form-label">Esami</label>
                    <select asp-for="K_Esame" asp-items="@ViewBag.EsamiDDL" class="form-control">
                        <option disabled selected>Selezionare un esame</option>
                    </select>
                </div>

                <div class="mt-3">
                    <label class="form-label">Titolo</label>
                    <input type="text" class="form-control" asp-for="Titolo" />
                </div>

                <div class="mt-3">
                    <label class="form-label">Video</label>
                    <input type="text" class="form-control" asp-for="Video" />
                </div>

                <div class="mt-4 d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-pencil-square me-1"></i> Modifica
                    </button>
                    <button type="submit" class="btn btn-danger btn-lg " asp-controller="Lezioni" asp-action="Delete">
                        <i class="bi bi-trash me-1"></i> Elimina
                    </button> 
                    <button type="submit" class="btn btn-secondary btn-lg " asp-controller="Lezioni" asp-action="Annulla">
                        <i class="bi bi-arrow-90deg-left me-1"></i> Annulla
                    </button>
                </div>
            </form>
        </div>
    }

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        @if (TempData["ErrorMessage"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Operazione non riuscita',
                    text: '@TempData["ErrorMessage"]'
                });
            </script>
        }
    }
</div>
