/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*#img-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: lime;
    overflow: hidden;*/ /* importante per ritagliare l'immagine */
/*position: relative;*/ /* già hai position-absolute nel div */
/*}*/

#img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* arrotonda l'immagine */
    display: block; /* rimuove eventuali spazi bianchi sotto l'immagine */
}

.img-icon {
    font-size: 4rem; /* grandezza dell'icona */
    color: #6c757d;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0; /* Se vuoi avere anche il cerchio come sfondo */
}

.heading-small {
    font-size: .90rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.text-muted {
    color: #8898aa !important;
}

.form-control-label {
    font-size: .900rem;
    font-weight: 600;
    color: #525f7f;
}

.form-control-alternative {
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    transition: box-shadow .15s ease;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}

.opacity-8 {
    opacity: .9 !important;
}

.bg-gradient-default {
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.header {
    position: relative;
}

.main-content {
    position: relative;
}

.text-white {
    color: #fff !important;
}

.col-lg-7, .col-md-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.mt--7 {
    margin-top: 6rem !important;
}

@media (min-width: 768px) {
    .main-content .container-fluid {
        padding-right: 39px !important;
        padding-left: 39px !important;
    }
}