@model AreaStudente.Models.ModificaStudenteViewModel

@if (TempData["PopupErrore"] != null)
{
	<script>
		alert("@TempData["PopupErrore"]");
	</script>
}
@if (TempData["PopupSuccesso"] != null)
{
	<script>
		alert('@TempData["PopupSuccesso"]');
	</script>
}

<form method="post" id="modifica-form">
	<div class="container">
		<h3 class="text-center mt-4 mb-3">Benvenuto in Modifica Profilo</h3>
		<div class="bg-white border border-1 border-black shadow rounded-5 p-4 row row-cols-2">

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">E-Mail:</label>
				<input type="email" asp-for="Email" class="form-control" readonly />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Nome:</label>
				<input type="text" asp-for="Nome" class="form-control" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Indirizzo:</label>
				<input type="text" asp-for="Indirizzo" class="form-control" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Cognome:</label>
				<input type="text" asp-for="Cognome" class="form-control" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Città:</label>
				<input type="text" asp-for="Citta" class="form-control" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Data di Nascita:</label>
				<input type="date" asp-for="DataNascita" class="form-control" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Provincia:</label>
				<input type="text" asp-for="Provincia" class="form-control text-uppercase" maxlength="2" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">CAP:</label>
				<input type="text" asp-for="CAP" class="form-control" maxlength="5" required />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Inserisci la Vecchia Password:</label>
				<input type="password" asp-for="Password" class="form-control" />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Nuova Password:</label>
				<input type="password" name="PasswordNew" class="form-control" />
			</div>

			<div class="form-outline mb-4 mt-4">
				<label class="form-label">Conferma Nuova Password:</label>
				<input type="password" name="PasswordConfirm" class="form-control" />
			</div>

			<div class="w-100 text-center form-outline mb-4 mt-4">
				<button type="submit" class="btn btn-primary">Salva</button>
			</div>

		</div>
	</div>
</form>

