@model AreaStudente.Models.AddComunicazioneViewModel
<h1>Nuovo studente</h1>
<form method="post">
  
    <div class="mt-1">
        <label class="form-label">Cognome</label>
        <input type="text" class="form-control" asp-for="Cognome" maxlength="50" />
    </div>
    <div class="mt-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" maxlength="50" />
    </div>
    <div class="mt-3">
        <label class="form-label">Testo</label>
        <input type="text" class="form-control" asp-for="Testo" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salva</button>
    </div>
</form>