@{
    ViewData["Title"] = "Contatti";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="mt-3">
                <h1 class="alert-dark mb-5 mt-5">Contatti</h1>
                <h4 class="alert-dark fw-normal mt-5">Centralino</h4>
                <h5 class="fw-light">
                    Tel +39 0123 456 789</br>
                    email: centralino@unigen.it
                </h5>

                <h4 class="alert-dark fw-normal mt-5">URP Unità Relazioni con il Pubblico</h4>
                <h5 class="fw-light">
                    Tel +39 0123 456 789</br>
                    email: urp@unigen.it
                </h5>

                <h4 class="alert-dark fw-normal mt-5">Studenti e Post-laurea</h4>
                <h5 class="fw-light">
                    Tel +39 0123 456 789</br>
                    email: studentipostlaurea@unigen.it
                </h5>

                <h4 class="alert-dark fw-normal mt-5">Ricerca</h4>
                <h5 class="fw-light">
                    Tel +39 0123 456 789</br>
                    email: ricerca@unigen.it
                </h5>

                <h4 class="alert-dark fw-normal mt-5">International</h4>
                <h5 class="fw-light">
                    Tel +39 0123 456 789</br>
                    email: international@unigen.it</br>
                    Studenti stranieri Erasmus: erasmus@unigen.it
                </h5>
            </div>

        </div>
    </div>
</div>
