<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AreaDocente</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AreaDocente.styles.css" asp-append-version="true" />

	<style>
		.navbar-custom {
			background-color: #12304F;
		}

			.navbar-custom .nav-link,
			.navbar-custom .navbar-brand {
				color: white !important;
			}

		.dropdown-menu > li:hover > .dropdown-submenu {
			display: block;
		}

		.flex-wrapper {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
			justify-content: space-between;
		}
	</style>

</head>
<body class="m-0 flex-wrapper">
	<header class="mb-5">
		<div class="fixed-top">
			<nav class="navbar navbar-dark navbar-expand-lg navbar-custom">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img src="~/css/resources/logonobg.png" alt="Bootstrap" width="150">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">

							<li class="nav-item">
								<a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Attività
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-area="" asp-controller="Materiali" asp-action="Add">Materiali</a></li>
									<li><a class="dropdown-item" asp-area="" asp-controller="Lezioni" asp-action="Add">Lezioni</a></li>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Esami
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-area="" asp-controller="Appelli" asp-action="Add">Appelli</a></li>
									<li><a class="dropdown-item" asp-area="" asp-controller="Tests" asp-action="Add">Test</a></li>
									<li><a class="dropdown-item" asp-area="" asp-controller="Valutazioni" asp-action="ValutazioneTest">Valutazioni</a></li>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Account
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">Modifica Dati</a></li>
									<li><a class="dropdown-item" href="#">Recupera Password</a></li>
								</ul>
							</li>
							@{
								var ruolo = Context.Session.GetString("Ruolo");
							}
							@if (ruolo != null)
							//solo se qualcuno ha fatto accesso apparirà la dorpdownlist
							{
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Comunicazioni
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Comunicazioni" asp-action="List">Comunicazioni</a>
										</li>

										<li class="nav-item">
											<a class="dropdown-item" asp-area="" asp-controller="Comunicazioni" asp-action="Add"> Inserisci una nuova Comunicazione</a>
										</li>
									</ul>
								</li>
							}


						</ul>
						<ul class="navbar-nav navbar-right">
							<li class="nav-item">
								<a class="btn btn-light btn-sm disabled me-2"><i class="bi bi-person-circle"></i> *Placeholder*</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-light btn-sm">Logout</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="container">
		<main role="main" class="pb-3 mt-5">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="bg-dark text-white">
			<div class="container d-flex justify-content-between align-items-end flex-wrap">
				<div>
					<img src="https://italy.generation.org/wp-content/uploads/2019/05/Generation_Italy_logo_WHITE.svg" alt="Logo UNIGen" class="img-fluid my-3" width="150px">
					<p class="fs-4">Università UNIGen</p>
					<p class="fs-6">Milano, MI 20100, IT</p>
				</div>
				<div>
					<p class="fs-6">© 2024 Generation: You Employed, Inc.</p>
				</div>
				<div>
					<p class="fs-5 mb-1">Chi Siamo</p>
					<ul class="list-unstyled ms-3">
						<li><a href="#" class="text-white">Contatti</a></li>
						<li><a href="#" class="text-white">Come Funziona</a></li>
						<li><a href="#" class="text-white">FAQ</a></li>
						<li><a href="#" class="text-white">Privacy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

